<h2>Formulaire</h2>

<form (ngSubmit)="submit()">
    <fieldset>
        <mat-form-field>
            <mat-label for="projectName">Project name</mat-label>
            <app-scribe [fieldname]="sampleForm.projectName" [isEnabled]="scribeEnabled" >
                <input matInput type="text" id="projectName" (focus)="projectNameQuestion(); " [value]="sampleForm.projectName">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </app-scribe>
        </mat-form-field>

        <mat-form-field>
            <mat-label for="valueProposition">Proposition of value</mat-label>
            <textarea cdkTextareaAutosize matInput type="text" id="valueProposition" (focus)="valuePropositionQuestion()"></textarea>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <mat-label for="innovative">Are you really innovative ? : </mat-label>
            <mat-select id="innovative" (focus)="innovativeQuestion()">
                <mat-option *ngFor="let response of innovative" [value]="response">{{response}}</mat-option>
            </mat-select>
            <mat-icon *ngIf="sampleForm.innovative !=null" matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>


        <mat-form-field>
            <mat-label for="imagineSolution">When did you start to imagine the solution ?  </mat-label>
            <input matInput type="date" id="startSolution" (focus)="startSolutionQuestion()">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <mat-label for="valueProposition">Which customers have you identified ?</mat-label>
            <textarea cdkTextareaAutosize matInput type="text" id="customersIdentified" (focus)="customersIdentifiedQuestion()"></textarea>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <mat-label for="valueProposition">Who will use the solution ?</mat-label>
            <textarea cdkTextareaAutosize matInput type="text" id="useSolution" (focus)="useSolutionQuestion()"></textarea>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>

        <button type="submit" class="btn btn-success">Valider</button>
    </fieldset>


    <button mat-button (click)="enableScribe()" type="button">
        <img width="50px" src="./assets/logo_speak2scribe_small.png"/>
    </button>


</form>