

.btn-success {
	background-color: #5161a9;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: 1.3px;
    text-align: center;
}


.form-container {
	display: flex;
	flex-direction: column;
}

.form-container > mat-form-field {
    width: 70%;
    margin : 2%;
}

.Rectangle-13 {
    margin: 2%;
    width: 170px;
    height: 42px;
    border-radius: 4px;
    box-shadow: 0 18px 40px -12px rgba(48, 58, 100, 0.44);
    background-color: #717fbb;
    width: 170px;
}

.VB-Speaking-Logo {
    width: 100px;
    height: 100px;
    left : 467px;
    border: 3px solid #5161a9;
    border-radius: 50px;
}

mat-form-field input,textarea {
    font-family: Roboto;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #4d4d4d;
}

mat-icon.ng-star-inserted {
    width: 20px;
    height: 20px;
    object-fit: contain;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8bc53f;
}